* {
  --pale-green: #a5c1a2;
  --blue: #c8e8e5;
  --grey: #ebebeb;
  --white: #ffffff;
  --black: #000000;
}
.App {
  text-align: center;
}
.navigation {
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation img {
  object-fit: contain;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation li {
  color: var(--black);
  list-style: none;
}
