* {
  --pale-green: #a5c1a2;
  --blue: #c8e8e5;
  --grey: #ebebeb;
  --white: #ffffff;
  --black: #000000;
  --pale-blue: #cbdeeb;
  --dark-grey: #b1b6c8;
  --light-green: rgb(122, 204, 101);
  --text-brush-color: #000;
  --time: 30s;

  outline: none;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
/*navigation*/
.navigation {
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.nav-logo img {
  height: 200px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5rem;
}
.nav-items {
  color: var(--black);
  list-style: none;
  padding: 0 2rem;
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: 500;
}
/*hero*/
.hero-div {
  margin-top: 0;
  background-color: var(--white);
  color: var(--black);
  font-weight: 100;
  font-size: 80px;
  letter-spacing: 10px;
}

/*footer*/
.footer-div {
  background-color: var(--grey);
}
.main-section-container {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  text-align: center;
}
/* .main-section-div {
  width: calc(100% * 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.main-section-content {
  text-align: justify;
}
/*blob*/
.blob-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: -5rem;
}

.blob-wrapper p {
  position: relative;
  font-family: "Comforter Brush", cursive;
  color: var(--text-brush-color);
  font-size: 48px;
  mix-blend-mode: color-burn;
  opacity: 0.5;
}

.blob-health {
  display: block;
  position: relative;
  top: 170px;
  width: 200px;
  height: 200px;
  /* width: 200px;
  height: 200px; */
  overflow: hidden;
  border-radius: 48% 52% 68% 32%/42% 28% 72% 58%;
  background: linear-gradient(
    to right,
    var(--pale-green),
    var(--grey),
    var(--pale-green)
  );
  background-size: 500% 100%;
  animation: blobber 30s 0s linear infinite,
    cobler 30s 0s linear infinite alternate;
}
.blob-health-n {
  display: block;
  position: relative;
  top: 170px;
  width: 200px;
  height: 200px;
  /* width: 200px;
  height: 200px; */
  overflow: hidden;
  border-radius: 48% 52% 68% 32%/42% 28% 72% 58%;
  background: linear-gradient(
    to right,
    var(--pale-blue),
    rgb(117, 182, 235),
    var(--pale-blue),
    var(--dark-grey)
  );
  background-size: 500% 100%;
  animation: blobber 30s -5s linear infinite,
    cobler 30s 0s linear infinite alternate;
}
.blob-health-coach {
  position: relative;
  top: 170px;
  width: 200px;
  height: 200px;
  /* display: block; */

  /* width: 200px;
  height: 200px; */
  overflow: hidden;
  border-radius: 48% 52% 68% 32%/42% 28% 72% 58%;
  background: linear-gradient(
    to right,
    var(--dark-grey),
    var(--grey),
    var(--dark-grey)
  );
  background-size: 500% 100%;
  animation: blobber 30s 5s linear infinite,
    cobler 30s 0s linear infinite alternate;
}

@keyframes blobber {
  0% {
    border-radius: 48% 52% 68% 32%/42% 28% 72% 58%;
  }
  5% {
    border-radius: 48% 52% 41% 59%/66% 37% 63% 34%;
  }
  10% {
    border-radius: 69% 31% 71% 29%/67% 31% 69% 33%;
  }
  15% {
    border-radius: 60% 40% 71% 29%/63% 65% 35% 37%;
  }
  20% {
    border-radius: 61% 39% 51% 49%/57% 58% 42% 43%;
  }
  25% {
    border-radius: 66% 34% 25% 75%/47% 30% 70% 53%;
  }
  30% {
    border-radius: 32% 68% 38% 62%/65% 60% 40% 35%;
  }
  35% {
    border-radius: 63% 37% 41% 59%/35% 38% 62% 65%;
  }
  40% {
    border-radius: 57% 43% 49% 51%/55% 71% 29% 45%;
  }
  45% {
    border-radius: 47% 53% 34% 66%/65% 36% 64% 35%;
  }
  50% {
    border-radius: 44% 56% 32% 68%/69% 26% 74% 31%;
  }
  55% {
    border-radius: 28% 72% 37% 63%/71% 44% 56% 29%;
  }
  60% {
    border-radius: 38% 62% 35% 65%/74% 53% 47% 26%;
  }
  65% {
    border-radius: 73% 27% 46% 54%/54% 47% 53% 46%;
  }
  70% {
    border-radius: 75% 25% 47% 53%/49% 53% 47% 51%;
  }
  75% {
    border-radius: 62% 38% 43% 57%/55% 60% 40% 45%;
  }
  80% {
    border-radius: 41% 59% 65% 35%/73% 50% 50% 27%;
  }
  85% {
    border-radius: 55% 45% 57% 43%/73% 61% 39% 27%;
  }
  90% {
    border-radius: 74% 26% 33% 67%/40% 65% 35% 60%;
  }
  95% {
    border-radius: 58% 42% 57% 43%/53% 45% 55% 47%;
  }
  100% {
    border-radius: 48% 52% 68% 32%/42% 28% 72% 58%;
  }
}
@keyframes cobler {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes wobbler {
  0% {
    transform: rotateZ(8deg);
  }
  100% {
    transform: rotateZ(-8deg);
  }
}

/* quote string section */
.quote-string-section {
  font-size: 48px;
  font-style: italic;
}
.quotation {
  display: flex;
  flex-direction: row;
  padding: 3rem;
}
.quotation :nth-child(3) {
  align-self: flex-end;
}
