* {
  --pale-green: #a5c1a2;
  --blue: #c8e8e5;
  --grey: #ebebeb;
  --white: #ffffff;
  --black: #000000;
}
.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
/*navigation*/
.navigation {
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.nav-logo img {
  height: 200px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5rem;
}
.nav-items {
  color: var(--black);
  list-style: none;
  padding: 0 2rem;
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: 500;
}
/*hero*/
.hero-div {
  height: 400px;
  margin-top: 0;
  background-color: var(--white);
  color: var(--black);
  font-weight: 100;
  font-size: 80px;
  letter-spacing: 10px;
}

/*footer*/
.footer-div {
  background-color: var(--grey);
}
.main-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-section-div {
  width: calc(100% * 0.3);
  display: flex;
  flex-direction: column;
}
